<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">


        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>일기장에는 오늘 <br><span th:style="|color:${tagDTO.color}|">[[${tagDTO.name}]]</span>이 가장 많아요</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div><br><br>
                <div align="center">

                    <a th:href="@{/diarys/register}">
                        <button class="btn btn-outline-light">글 쓰기</button>
                    </a>

                    <a th:href="@{/diarys/list}">
                        <button class="btn btn-outline-dark listBtn">글 목록</button>
                    </a>

                </div>
            </div>
        </header>


    </th:block>
</th:block>