<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">

    <!-- Page Header-->
        <header class="masthead" style="padding-top: 5rem; padding-bottom: 5rem; background-image: url('/assets/img/city.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>수정 페이지</h1>
                        <h2 class="subheading">등록 페이지와 마찬가지로 핵심적인 페이지입니다.</h2>
                        <span class="meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on August 24, 2022
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1 class="section-heading">[[${diaryDTO.title}]]</h1>

                    <tr th:each="writeUp : ${diaryDTO.writeUpDTOList}">
                        <ul>[[${writeUp.TagDTO.name}]], [[${writeUp.content}]]</ul>
                    </tr>

                    <ul>작성일 : [[${#temporals.format(diaryDTO.regDate, 'yyyy/MM/dd')}]]</ul>
                    <ul>수정일 : [[${#temporals.format(diaryDTO.modDate, 'yyyy/MM/dd')}]]</ul>
                </div>
            </div>
        </div>
    </article>

    <center>
        <button>수정</button>
        <button>취소</button>
    </center>

    </th:block>
</th:block>